---
title: "Grouping & multi-indexing"
author: "Vignesh J M"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Car_Pricing.xlsx')

In [3]:
Location_Collected = df.groupby(['Location', 'Name', 'Fuel_Type']).Kilometers_Driven.agg([len])
Location_Collected

                                                           len
Location  Name                                  Fuel_Type
Ahmedabad Audi A3 35 TDI Attraction             Diesel       1
          Audi Q3 35 TDI Quattro Premium Plus   Diesel       1
          Audi Q5 2008-2012 2.0 TFSI Quattro    Petrol       1
          BMW 3 Series 320d Prestige            Diesel       1
          BMW 3 Series 320d Sport               Diesel       1
...                                                        ...
Pune      Volkswagen Polo Diesel Highline 1.2L  Diesel       2
          Volkswagen Polo Diesel Trendline 1.2L Diesel       1
          Volkswagen Polo GT TDI                Diesel       1
          Volkswagen Polo GT TSI                Petrol       1
          Volkswagen Vento Petrol Highline      Petrol       2

[1133 rows x 1 columns]

In [4]:
mi = Location_Collected.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [5]:
Location_Collected.reset_index()

       Location                                   Name Fuel_Type  len
0     Ahmedabad              Audi A3 35 TDI Attraction    Diesel    1
1     Ahmedabad    Audi Q3 35 TDI Quattro Premium Plus    Diesel    1
2     Ahmedabad     Audi Q5 2008-2012 2.0 TFSI Quattro    Petrol    1
3     Ahmedabad             BMW 3 Series 320d Prestige    Diesel    1
4     Ahmedabad                BMW 3 Series 320d Sport    Diesel    1
...         ...                                    ...       ...  ...
1128       Pune   Volkswagen Polo Diesel Highline 1.2L    Diesel    2
1129       Pune  Volkswagen Polo Diesel Trendline 1.2L    Diesel    1
1130       Pune                 Volkswagen Polo GT TDI    Diesel    1
1131       Pune                 Volkswagen Polo GT TSI    Petrol    1
1132       Pune       Volkswagen Vento Petrol Highline    Petrol    2

[1133 rows x 4 columns]