---
title: "Grouping by apply()"
author: "Vignesh J M"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Car_Pricing.xlsx')

In [3]:
data.groupby('Name').apply(lambda df: df.Kilometers_Driven.iloc[0])

Name
Audi A3 35 TDI Attraction                     84004
Audi A3 35 TDI Premium Plus                   52300
Audi A4 2.0 TDI                               46000
Audi A4 2.0 TDI 177 Bhp Technology Edition    87001
Audi A4 2.0 TDI Multitronic                   55000
                                              ...
Volvo S60 D5 Kinetic                          70000
Volvo S80 D5                                  87000
Volvo V40 Cross Country D3                    60000
Volvo XC60 D4 SUMMUM                          64000
Volvo XC90 2007-2015 D5 AWD                   70000
Length: 768, dtype: int64

In [4]:
data.groupby(['Name']).Kilometers_Driven.agg([len, min, max])

                                            len    min    max
Name
Audi A3 35 TDI Attraction                     1  84004  84004
Audi A3 35 TDI Premium Plus                   1  52300  52300
Audi A4 2.0 TDI                               5  21143  70000
Audi A4 2.0 TDI 177 Bhp Technology Edition    1  87001  87001
Audi A4 2.0 TDI Multitronic                   1  55000  55000
...                                         ...    ...    ...
Volvo S60 D5 Kinetic                          1  70000  70000
Volvo S80 D5                                  1  87000  87000
Volvo V40 Cross Country D3                    1  60000  60000
Volvo XC60 D4 SUMMUM                          1  64000  64000
Volvo XC90 2007-2015 D5 AWD                   2  22230  70000

[768 rows x 3 columns]