---
title: "Missing Data"
author: "Vignesh J M"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Car_Pricing.xlsx')

In [3]:
df[pd.isnull(df.Year)]

Empty DataFrame
Columns: [Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats]
Index: []

In [4]:
df.Seats.fillna("Unknown")

0       4
1       5
2       7
3       5
4       5
       ..
1229    5
1230    5
1231    5
1232    5
1233    5
Name: Seats, Length: 1234, dtype: object

In [5]:
df.Location.replace("Dehli", "Dehli-Capital")

0            Delhi
1       Coimbatore
2           Mumbai
3        Hyderabad
4           Mumbai
           ...
1229     Hyderabad
1230        Mumbai
1231       Kolkata
1232          Pune
1233         Kochi
Name: Location, Length: 1234, dtype: object