---
title: "Indexing In Pandas"
author: "Vignesh J M"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Car_Pricing.xlsx')

In [3]:
df.iloc[0]

Name                 Maruti Alto K10 LXI CNG
Location                               Delhi
Year                                    2014
Kilometers_Driven                      40929
Fuel_Type                                CNG
Transmission                          Manual
Owner_Type                             First
Mileage                          32.26 km/kg
Engine                                998 CC
Power                               58.2 bhp
Seats                                      4
Name: 0, dtype: object

In [4]:
df.iloc[:,0]

0                                 Maruti Alto K10 LXI CNG
1                           Maruti Alto 800 2016-2019 LXI
2               Toyota Innova Crysta Touring Sport 2.4 MT
3                                    Toyota Etios Liva GD
4                                       Hyundai i20 Magna
                              ...
1229                    Volkswagen Vento Diesel Trendline
1230                               Volkswagen Polo GT TSI
1231                               Nissan Micra Diesel XV
1232                               Volkswagen Polo GT TSI
1233    Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...
Name: Name, Length: 1234, dtype: object

In [5]:
df.iloc[:3,0]

0                      Maruti Alto K10 LXI CNG
1                Maruti Alto 800 2016-2019 LXI
2    Toyota Innova Crysta Touring Sport 2.4 MT
Name: Name, dtype: object

In [6]:
df.iloc[1:3,0]

1                Maruti Alto 800 2016-2019 LXI
2    Toyota Innova Crysta Touring Sport 2.4 MT
Name: Name, dtype: object

In [7]:
df.iloc[[0,1,2],0]

0                      Maruti Alto K10 LXI CNG
1                Maruti Alto 800 2016-2019 LXI
2    Toyota Innova Crysta Touring Sport 2.4 MT
Name: Name, dtype: object

In [8]:
df.iloc[-5:]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0
1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0
1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0
1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0
1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0

In [9]:
df.loc[0, 'Name']

'Maruti Alto K10 LXI CNG'